---
wifi_ssid: "VOTRE_WIFI"
wifi_password: "VOTRE_PASSWORD"
api_encryption_key: "0iaGLd8S0OlT9CfCpIzj9y6NryL+get/sDcmFM3TFfA=" # random 32 bytes, base64 encoded
esphome_ap_password: "YourEspHomeAPPassword"
esphome_ota_password: "YourEspHomeOTAPassword"

mantra_fan_ble_address: "15:a2:8f:99:0c:55"
magic_lantern_light_ble_address: "aa:8b:66:45:b8:cc"
transmitter_baie_salon_storage_key: "AnyString" # 15 chars max
transmitter_baie_salon_remote_id: 0x012345
baie_salon_physical_remote_id_1: 0x456789
