---
wifi_ssid: "VOTRE_WIFI"
wifi_password: "VOTRE_PASSWORD"
api_encryption_key: "0iaGLd8S0OlT9CfCpIzj9y6NryL+get/sDcmFM3TFfA=" # random 32 bytes, base64 encoded
esphome_ap_password: "YourEspHomeAPPassword"
esphome_ota_password: "YourEspHomeOTAPassword"

mantra_fan_ble_address: "15:a2:8f:99:0c:55"
magic_lantern_light_ble_address: "aa:8b:66:45:b8:cc"
transmitter_baie_salon_storage_key: "AnyString" # 15 chars max
transmitter_baie_salon_remote_id: 0x012345
baie_salon_physical_remote_id_1: 0x456789

volet_1_io_id: 0x7C4F2E
volet_1_target_node: 0x1A9B3D
volet_1_encryption_key: "B2A4C6E8F0D1B3A5C7E9F1A2D4F6C8E0" # 32 Hex chars
volet_1_storage_key: "v1_io_store"

volet_2_io_id: 0x5D2A91
volet_2_target_node: 0xB4C7E2
volet_2_encryption_key: "7A92C1D4B6E8F0A3C5D7E9B1A2D4F6C8" # 32 Hex chars
volet_2_storage_key: "v2_io_store"

volet_3_io_id: 0x1F8B32
volet_3_target_node: 0xA9D5C6
volet_3_encryption_key: "B1E3D5F7A9C2E4680B2D4F6A8C0E2D4F" # 32 Hex chars
volet_3_storage_key: "v3_io_store"

volet_4_io_id: 0xC4D2A9
volet_4_target_node: 0x3B6E8F
volet_4_encryption_key: "D4F6A8C0E2B1D3F5A7C9E1B2D4F6A8C0" # 32 Hex chars
volet_4_storage_key: "v4_io_store"

volet_5_io_id: 0x8E1C7D
volet_5_target_node: 0x2A9F4B
volet_5_encryption_key: "A1B2C3D4E5F60718293A4B5C6D7E8F90" # 32 Hex chars
volet_5_storage_key: "v5_io_store"
